/* COLORS */
* {
  box-sizing: border-box;
  border: 1px dashed black;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* NAV BAR */
nav {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}
nav .nav__left {
  display: flex;
  align-items: center;
}
nav .nav__left #beans-logo {
  min-width: 3.125rem;
  max-width: 7.5rem;
  display: flex;
}
nav .nav__left .co-name-link {
  text-decoration: none;
}
nav .nav__left .co-name-link #co-name {
  text-align: left;
  display: flex;
  font-size: 3.125rem;
  margin: 0;
  color: #393939;
}
nav .nav-links {
  font-size: 1.312rem;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  padding-left: 1.25rem;
}
nav .nav-links li {
  display: inline-block;
}
nav .nav-links li .nav-links__item {
  text-decoration: none;
  color: #393939;
  padding: 1.25rem;
  display: inline-block;
  font-size: 1.3125rem;
}
nav .nav-links li .nav-links__item .nav-links__item--blue {
  color: #5BACC3;
}

/* GENERAL */
body {
  color: #393939;
}

h1, h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: auto;
}

h3 {
  font-size: 2.062rem;
  font-weight: 300;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

.btn-container {
  position: relative;
  background-color: #5BACC3;
  height: 50px;
  width: 100px;
}

.btn-inner {
  position: absolute;
}

.button {
  color: #FFF;
  font-size: 1.312rem;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

/* HERO SECTION */
.hero {
  padding: 3rem;
  background-color: #FFF0ED;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.hero .hero-card {
  display: flex;
  max-width: 50%;
  margin-top: 10rem;
  flex-direction: column;
}
.hero .hero-card .hero-card__title {
  max-width: 80%;
}
.hero .hero-card .hero-card__desc {
  padding: 0.625rem 0 1.25rem 0;
  max-width: 60%;
}
.hero .hero-card .hero-card__btn {
  min-width: 11.25rem;
  max-width: 2%;
  padding: 0.94rem 1.25rem;
}
.hero .hero-img {
  margin-right: 4rem;
}

/* OUR PRODUCTS SECTION */
.our-products {
  background-color: #F7F7F7;
  padding: 3.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-products h2.products-title {
  text-align: center;
  padding: 1.25rem;
  display: flex;
}
.our-products .products-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.our-products .product-card {
  min-width: 20.5rem;
  max-width: 21rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  margin: 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding-top: 1.5rem;
}
.our-products .product-card .product-card__img {
  display: flex;
  min-height: 15rem;
  max-height: 34.375rem;
  flex-wrap: wrap;
}
.our-products .product-card .product-card__img .product-card__img--coldbrew {
  max-height: 15rem;
}
.our-products .product-card .product-card__info {
  background-color: #FFF0ED;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}
.our-products .product-card .product-card__info .product-card__name {
  text-align: center;
  display: flex;
  margin: 0;
  height: 2.81rem;
}
.our-products .product-card .product-card__info .product-card__desc {
  color: #909090;
  display: flex;
  margin: 0;
}
.our-products .product-card .product-card__info .product-card__price {
  color: #5BACC3;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

/* MISC SECTION (we're different) */
.misc {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 6.25rem 7rem;
  padding-bottom: 0;
  align-items: center;
  flex-wrap: wrap;
}
.misc .misc__card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.misc .misc__card .misc__card__title {
  display: flex;
  margin: 0;
}
.misc .misc__card .misc__card__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.misc .misc__card .misc__card__container img {
  width: 3.125rem;
}
.misc .misc__card .learn-more-btn {
  display: flex;
  min-width: 11.25rem;
  max-width: 50%;
  padding: 0.94rem;
  margin-top: 2.5rem;
  justify-content: center;
}
.misc .misc__card .learn-more-link {
  color: #FFF;
}
.misc .misc__img-box {
  min-width: 25rem;
  max-width: 31.25rem;
  min-height: 400px;
  max-height: 500px;
  background-image: url(../assets/images/coldbrewbackground.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.misc .misc__img-box .misc__img-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid #5BACC3;
  top: -1.25rem;
  left: -1.25rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* DISCOUNT SECTION */
.section-discount {
  margin: 10rem 0rem;
  display: flex;
}
.section-discount .discount-msg {
  font-size: 2.812rem;
  font-weight: 400;
  background-color: #393939;
  color: #FFF;
  text-align: center;
  margin: auto;
  padding: 2.5rem 4.375rem;
  display: flex;
}

/* FOOTER */
footer {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
}
footer .outer {
  overflow: hidden;
  position: relative;
}
footer .outer .bg-icon {
  min-width: 60px;
  max-width: 120px;
  width: 120px;
}
footer .outer .bg-icon .bg-icon__img {
  position: absolute;
  opacity: 25%;
  width: 100%;
  height: 100%;
}
footer .outer .bg-icon .bg-icon__img--right {
  top: 40px;
  left: 40px;
}
footer .outer .bg-icon .bg-icon__img--left {
  top: -20px;
  left: -40px;
}
footer .footer-card {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  align-items: flex-start;
}
footer .footer-card .footer-card__title {
  margin: 1.25rem 0;
}
footer .footer-card .footer-card__info {
  margin: 0;
  text-align: left;
}
footer .footer-card .social-icon {
  min-width: 3.125rem;
  max-width: 7.5rem;
}
footer .footer-card .footer-card__img {
  max-height: 2.875rem;
}/*# sourceMappingURL=landing.css.map */